doctype html
//if IE 8
  html.ie8(lang='en')
//if IE 9
  html.ie9(lang='en')
// [if !IE] <!
html(lang='en')
  // <![endif]
  head
    title About Us | Unify - Responsive Website Template
    // Meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='shinesoft')
    // Favicon
    link(rel='shortcut icon', href='favicon.ico')
    // Web Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin', rel='stylesheet')
    // CSS Global Compulsory
    link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    // CSS Header and Footer
    link(rel='stylesheet', href='/assets/css/headers/header-default.css')
    link(rel='stylesheet', href='/assets/css/footers/footer-v1.css')
    // CSS Implementing Plugins
    link(rel='stylesheet', href='/assets/plugins/animate.css')
    link(rel='stylesheet', href='/assets/plugins/line-icons/line-icons.css')
    link(rel='stylesheet', href='/assets/plugins/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/plugins/parallax-slider/css/parallax-slider.css')
    link(rel='stylesheet', href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css')
    // CSS Theme
    link#style_color(rel='stylesheet', href='/assets/css/theme-colors/default.css')
    link(rel='stylesheet', href='/assets/css/theme-skins/dark.css')
    // CSS Customization
    link(rel='stylesheet', href='/assets/css/custom.css')
  body
    .wrapper
      // === Header ===
      .header
        .container
          // Logo
          a.logo(href='index.html')
            img(src='/assets/img/logo1-default.png', alt='Logo')
          // End Logo
          // Topbar
          .topbar
            ul.loginbar.pull-right
              li.hoverSelector
                i.fa.fa-globe
                a #{__('topBar').language}
                ul.languages.hoverSelectorBlock
                  li.active
                    a(href='#')
                      | #{__('topBar').languageOpt.ja}
                      i.fa.fa-check
                  li
                    a(href='#') #{__('topBar').languageOpt.en}
                  li
                    a(href='#') #{__('topBar').languageOpt.zh}
                = ' '
              li.topbar-devider
              li
                a(href='page_login.html') #{__('topBar').login}
          // End Topbar
          // Toggle get grouped for better mobile display
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.sr-only Toggle navigation
            span.fa.fa-bars
          // End Toggle
        // /end container
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
          .container
            ul.nav.navbar-nav
              // home | about-us | service | recruitment | contact
              li(class=(path === "home")?"active":"")
                a(href='/home')
                  | #{__('menu').home}
              li(class=(path === "about-us")?"active":"")
                a(href='/about-us')
                  | #{__('menu').about}
              li(class=(path === "services")?"active":"")
                a(href='/services')
                  | #{__('menu').service}
              li(class=(path === "recruitment")?"active":"")
                a(href='/recruitment')
                  | #{__('menu').recruitment}
              li(class=(path === "contact")?"active":"")
                a(href='/contact')
                  | #{__('menu').contact}
              //End home | about-us | service | recruitment | contact
          // /end container
        // /navbar-collapse
      // === End Header ===





      // === Footer ===
      .footer-v1
        .footer
          .container
            .row
              // About
              .col-md-3.md-margin-bottom-40
                a(href='index.html')
                  img#logo-footer.footer-logo(src='/assets/img/logo2-default.png', alt='')
                p
                  | #{__('footer').statement1}
                p
                  | #{__('footer').statement2}
                p
                  | #{__('footer').statement3}
                p
                  | #{__('footer').statement4}
              // /col-md-3
              // End About
              // Latest
              .col-md-3.md-margin-bottom-40
                .posts
                  .headline
                    h2 #{__('footer').news.header}
                  ul.list-unstyled.latest-list
                    li
                      a(href='#') #{__('footer').news.news1.title}
                      small #{__('footer').news.news1.date}
                    li
                      a(href='#') #{__('footer').news.news2.title}
                      small #{__('footer').news.news2.date}
                    li
                      a(href='#') #{__('footer').news.news3.title}
                      small #{__('footer').news.news3.date}
              // /col-md-3
              // End Latest
              // Link List
              .col-md-3.md-margin-bottom-40
                .headline
                  h2 #{__('footer').links.header}
                ul.list-unstyled.link-list
                  li
                    a(href='/home') #{__('footer').links.link1}
                    i.fa.fa-angle-right
                  li
                    a(href='/about-us') #{__('footer').links.link2}
                    i.fa.fa-angle-right
                  li
                    a(href='/services') #{__('footer').links.link3}
                    i.fa.fa-angle-right
                  li
                    a(href='/recruitment') #{__('footer').links.link4}
                    i.fa.fa-angle-right
                  li
                    a(href='/privacy') #{__('footer').links.link5}
                    i.fa.fa-angle-right
              // /col-md-3
              // End Link List
              // Address
              .col-md-3.map-img.md-margin-bottom-40
                .headline
                  h2 #{__('footer').contact.header}
                address.md-margin-bottom-40
                  | #{__('footer').contact.address}
                  br
                  | #{__('footer').contact.zipCode}
                  br
                  | #{__('footer').contact.tel}
                  br
                  | #{__('footer').contact.fax}
                  br
                  | #{__('footer').contact.email}
                  a(href='mailto:info@shinesoft.co.jp') info@shinesoft.co.jp
              // /col-md-3
              // End Address
        // /footer
        .copyright
          .container
            .row
              .col-md-6
                p
                  | #{__('copyright').statement}
                  =  ' '
              .col-md-6
                p.pull-right
                  a(href='#') #{__('copyright').privacy}
                  =  ' | '
                  a(href='#') #{__('copyright').terms}
                  =  ' | '
                  a(href='#') #{__('copyright').margin}
        // /copyright
      // === End Footer ===
    // /wrapper

    // === Style Switcher ===
    i.style-switcher-btn.fa.fa-cogs.hidden-xs
    .style-switcher.animated.fadeInRight
      .style-swticher-header
        .style-switcher-heading Style Switcher
        .theme-close
          i.icon-close
      .style-swticher-body
        // Theme Colors
        .style-switcher-heading Theme Colors
        ul.list-unstyled
          li.theme-default.theme-active(data-style='default', data-header='light')
          li.theme-blue(data-style='blue', data-header='light')
          li.theme-orange(data-style='orange', data-header='light')
          li.theme-red(data-style='red', data-header='light')
          li.theme-light(data-style='light', data-header='light')
          li.theme-purple.last(data-style='purple', data-header='light')
          li.theme-aqua(data-style='aqua', data-header='light')
          li.theme-brown(data-style='brown', data-header='light')
          li.theme-dark-blue(data-style='dark-blue', data-header='light')
          li.theme-light-green(data-style='light-green', data-header='light')
          li.theme-dark-red(data-style='dark-red', data-header='light')
          li.theme-teal.last(data-style='teal', data-header='light')
        // Theme Skins
        .style-switcher-heading Theme Skins
        .row.no-col-space.margin-bottom-20.skins-section
          .col-xs-6
            button.btn-u.btn-u-xs.btn-u-dark.btn-block.active-switcher-btn.handle-skins-btn(data-skins='default') Light
          .col-xs-6
            button.btn-u.btn-u-xs.btn-u-dark.btn-block.skins-btn(data-skins='dark') Dark
        hr
        // Layout Styles
        .style-switcher-heading Layout Styles
        .row.no-col-space.margin-bottom-20
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block.active-switcher-btn.wide-layout-btn(href='javascript:void(0);') Wide
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block.boxed-layout-btn(href='javascript:void(0);') Boxed
        hr
        // Theme Type
        .style-switcher-heading Theme Types and Versions
        .row.no-col-space.margin-bottom-10
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block(href='E-Commerce/index.html')
              | Shop UI
              small.dp-block Template
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block(href='One-Pages/Classic/index.html')
              | One Page
              small.dp-block Template
        .row.no-col-space
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block(href='Blog-Magazine/index.html')
              | Blog
              small.dp-block Template
          .col-xs-6
            a.btn-u.btn-u-xs.btn-u-dark.btn-block(href='RTL/index.html')
              | RTL
              small.dp-block Version
    // /style-switcher
    // === End Style Switcher ===


    // JS Global Compulsory
    script(type='text/javascript', src='/assets/plugins/jquery/jquery.min.js')
    script(type='text/javascript', src='/assets/plugins/jquery/jquery-migrate.min.js')
    script(type='text/javascript', src='/assets/plugins/bootstrap/js/bootstrap.min.js')
    // JS Implementing Plugins
    script(type='text/javascript', src='/assets/plugins/back-to-top.js')
    script(type='text/javascript', src='/assets/plugins/smoothScroll.js')
    script(type='text/javascript', src='/assets/plugins/jquery-appear.js')
    script(type='text/javascript', src='/assets/plugins/jquery.parallax.js')
    script(type='text/javascript', src='/assets/plugins/counter/waypoints.min.js')
    script(type='text/javascript', src='/assets/plugins/counter/jquery.counterup.min.js')
    script(type='text/javascript', src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
    // JS Customization
    script(type='text/javascript', src='/assets/js/custom.js')
    // JS Page Level
    script(type='text/javascript', src='/assets/js/app.js')
    script(type='text/javascript', src='/assets/js/plugins/progress-bar.js')
    script(type='text/javascript', src='/assets/js/plugins/owl-carousel.js')
    script(type='text/javascript', src='/assets/js/plugins/style-switcher.js')
    script(type='text/javascript').
      jQuery(document).ready(function() {
      App.init();
      App.initCounter();
      App.initParallaxBg();
      OwlCarousel.initOwlCarousel();
      StyleSwitcher.initStyleSwitcher();
      ProgressBar.initProgressBarVertical();
      });
    //if lt IE 9
      script(src='/assets/plugins/respond.js')
      script(src='/assets/plugins/html5shiv.js')
      script(src='/assets/plugins/placeholder-IE-fixes.js')
