extends ../layout

block css
  link(rel="stylesheet", href="css/about-us.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/image-hover/js/touch.js')
  script(type='text/javascript', src='assets/plugins/image-hover/js/modernizr.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/about-us.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left #{__('aboutus.breadcrumb.title')}
  // /breadcrumbs
  // === End Breadcrumbs ===

block content
  // Icon Boxes 31
  .container.content
    .title-box-v2
      h2
        | #{__('aboutus.info.title.0')}
        = ' '
        span.color-green #{__('aboutus.info.title.1')}
      p
        | #{__('aboutus.info.statement')}
    .row
      .col-md-4
        .content-boxes-v5.margin-bottom-30
          i.rounded-x.icon-star
          .overflow-h
            h3.no-top-space #{__('aboutus.info.date.title')}
            p #{__('aboutus.info.date.content')}
        .content-boxes-v5.md-margin-bottom-30
          i.rounded-x.icon-diamond
          .overflow-h
            h3.no-top-space #{__('aboutus.info.capital.title')}
            p #{__('aboutus.info.capital.content')}
      .col-md-4
        .content-boxes-v5.margin-bottom-30
          i.rounded-x.icon-user-following
          .overflow-h
            h3.no-top-space #{__('aboutus.info.ceo.title')}
            p #{__('aboutus.info.ceo.content')}
        .content-boxes-v5.md-margin-bottom-30
          i.rounded-x.icon-finance-011
          .overflow-h
            h3.no-top-space #{__('aboutus.info.employee.title')}
            p #{__('aboutus.info.employee.content')}
      .col-md-4
        .content-boxes-v5.margin-bottom-30
          i.rounded-x.icon-pointer
          .overflow-h
            h3.no-top-space #{__('aboutus.info.address.title')}
            p #{__('aboutus.info.address.content')}
        .content-boxes-v5.md-margin-bottom-30
          i.rounded-x.icon-rocket
          .overflow-h
            h3.no-top-space #{__('aboutus.info.business.title')}
            p #{__('aboutus.info.business.content')}
  // End Icon Boxes 31
  // === Begin Timeline ===
  .row.parallax-counter-v2
    .container
      .title-box-v2
        h2
          | #{__('aboutus.history.title.0')}
          = ' '
          span.color-green #{__('aboutus.history.title.1')}
        p
          | #{__('aboutus.history.statement')}
      ul.timeline-v2
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event1.date.0')}
            span #{__('aboutus.history.event1.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event1.title')}
            .row
              .col-md-4
                img.img-responsive(src='assets/img/main/img1.jpg', alt='')
                .md-margin-bottom-20
              .col-md-8
                p
                  | #{__('aboutus.history.event1.content.0')}
                p
                  | #{__('aboutus.history.event1.content.1')}
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event2.date.0')}
            span #{__('aboutus.history.event2.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event2.title')}
            p
              | #{__('aboutus.history.event2.content.0')}
            .row
              .col-sm-6
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.1')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.2')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.3')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.4')}
              .col-sm-6
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.5')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.6')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.7')}
                  li
                    i.fa.fa-check.color-green
                    | #{__('aboutus.history.event2.content.8')}
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event3.date.0')}
            span #{__('aboutus.history.event3.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event3.title')}
            p
              | #{__('aboutus.history.event3.content.0')}
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event4.date.0')}
            span #{__('aboutus.history.event4.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event4.title')}
            p
              | #{__('aboutus.history.event4.content.0')}
            .margin-bottom-20
            .row
              .col-sm-6
                // Progress Bar Text
                .progress-bar-text
                  p.text-left #{__('aboutus.history.event4.content.1')}
                  p.text-right 91%
                  .progress.progress-u.progress-xs
                    .progress-bar.progress-bar-u.progress-bar-u-success(role='progressbar', aria-valuenow='91', aria-valuemin='0', aria-valuemax='100', style='width: 91%')
                // End Progress Bar Text
                // Progress Bar Text
                .progress-bar-text
                  p.text-left #{__('aboutus.history.event4.content.2')}
                  p.text-right 55%
                  .progress.progress-u.progress-xs
                    .progress-bar.progress-bar-u.progress-bar-u-info(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='width: 55%')
                // End Progress Bar Text
              .col-sm-6
                // Progress Bar Text
                .progress-bar-text
                  p.text-left #{__('aboutus.history.event4.content.3')}
                  p.text-right 67%
                  .progress.progress-u.progress-xs
                    .progress-bar.progress-bar-u.progress-bar-u-danger(role='progressbar', aria-valuenow='67', aria-valuemin='0', aria-valuemax='100', style='width: 67%')
                // End Progress Bar Text
                // Progress Bar Text
                .progress-bar-text
                  p.text-left #{__('aboutus.history.event4.content.4')}
                  p.text-right 73%
                  .progress.progress-u.progress-xs
                    .progress-bar.progress-bar-u.progress-bar-u-warning(role='progressbar', aria-valuenow='73', aria-valuemin='0', aria-valuemax='100', style='width: 73%')
                // End Progress Bar Text
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event5.date.0')}
            span #{__('aboutus.history.event5.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event5.title')}
            p
              | #{__('aboutus.history.event5.content.0')}
        li.equal-height-columns
          .cbp_tmtime.equal-height-column
            span #{__('aboutus.history.event6.date.0')}
            span #{__('aboutus.history.event6.date.1')}
          i.cbp_tmicon.rounded-x.hidden-xs
          .cbp_tmlabel.equal-height-column
            h2 #{__('aboutus.history.event6.title')}
            p
              | #{__('aboutus.history.event6.content.0')}
            p
              | #{__('aboutus.history.event6.content.1')}
            .margin-bottom-20
            .row
              .col-md-4.col-xs-6
                img.img-responsive.md-margin-bottom-10(src='assets/img/main/img2.jpg', alt='')
              .col-md-4.col-xs-6
                img.img-responsive.md-margin-bottom-10(src='assets/img/main/img4.jpg', alt='')
              .col-md-4.col-xs-6
                img.img-responsive.md-margin-bottom-10(src='assets/img/main/img3.jpg', alt='')
  // === End Timeline ===

  // === Job Partners ===
  .container.content.job-partners
    .title-box-v2
      h2
        | #{__('aboutus.partner.title.0')}
        = ' '
        span.color-green #{__('aboutus.partner.title.1')}
      p
        | #{__('aboutus.partner.statement')}
    ul#effect-2.list-inline.our-clients
      li
        figure
          img(src='assets/img/clients2/ea-canada.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.0')}
      li
        figure
          img(src='assets/img/clients2/inspiring.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.1')}
      li
        figure
          img(src='assets/img/clients2/ucweb.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.2')}
      li
        figure
          img(src='assets/img/clients2/clarks.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.3')}
      li
        figure
          img(src='assets/img/clients2/corepreserves.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.4')}
      li
        figure
          img(src='assets/img/clients2/finals.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.5')}
      li
        figure
          img(src='assets/img/clients2/getaround.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.6')}
      li
        figure
          img(src='assets/img/clients2/baderbrau.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.7')}
      li
        figure
          img(src='assets/img/clients2/emirates.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.8')}
      li
        figure
          img(src='assets/img/clients2/fddw.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.9')}
      li
        figure
          img(src='assets/img/clients2/district-karaoke.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.10')}
      li
        figure
          img(src='assets/img/clients2/marianos.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.11')}
      li
        figure
          img(src='assets/img/clients2/grifting-tree.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.12')}
      li
        figure
          img(src='assets/img/clients2/jaguar.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.13')}
      li
        figure
          img(src='assets/img/clients2/hermes.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.14')}
      li
        figure
          img(src='assets/img/clients2/starbucks.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.15')}
      li
        figure
          img(src='assets/img/clients2/national-geographic.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.16')}
      li
        figure
          img(src='assets/img/clients2/much-more.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.17')}
      li
        figure
          img(src='assets/img/clients2/hotiron.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.18')}
      li
        figure
          img(src='assets/img/clients2/fred-perry.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.19')}
      li
        figure
          img(src='assets/img/clients2/bellfield.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.20')}
      li
        figure
          img(src='assets/img/clients2/getapp.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.21')}
      li
        figure
          img(src='assets/img/clients2/austrian-airlines.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.22')}
      li
        figure
          img(src='assets/img/clients2/general-electric.png', alt='')
          .img-hover
            h4 #{__('aboutus.partner.partners.23')}
  // /container
  // === End Job Partners ===
