extends ../layout

block css
  link(rel="stylesheet", href="css/contact.css")
  != '\n<!--[if lt IE 9]>'
  link(rel="stylesheet", href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css")
  != '\n<![endif]-->\n'

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=true')
  script(type='text/javascript', src='assets/plugins/gmap/gmap.js')
  script(type='text/javascript', src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
  script(type='text/javascript', src='assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js')
  script(type='text/javascript', src='assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/forms/contact.js')
  script(type='text/javascript', src='assets/js/pages/page_contacts.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/contact.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  script(src='assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js')
  != '\n<![endif]-->\n'
  != '\n<!--[if lt IE 10]>'
  script(src='assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left #{__('contact.breadcrumb.title')}
  // /breadcrumbs
  // === End Breadcrumbs ===

block content
  // Google Map
  #map.map
  // -/map
  // End Google Map
  // === Content Part ===
  .container.content
    .row.margin-bottom-30
      .col-md-9.mb-margin-bottom-30
        .headline
          h2 #{__('contact.form.title')}
        p
          | #{__('contact.form.description.0')}
          span.color-red *
          | #{__('contact.form.description.1')}
          br
          | #{__('contact.form.description.2')}
        br
        form#sky-form3.sky-form.contact-style(action='assets/php/sky-forms-pro/demo-contacts-process.php', method='post')
          fieldset.no-padding
            label
              | #{__('contact.form.name')}
              span.color-red *
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#name.form-control(type='text', name='name')
            label
              | #{__('contact.form.email')}
              span.color-red *
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#email.form-control(type='text', name='email')
            label
              | #{__('contact.form.message')}
              span.color-red *
            .row.sky-space-20
              .col-md-11.col-md-offset-0
                div
                  textarea#message.form-control(rows='8', name='message')
            p
              button.btn-u(type='submit') #{__('contact.form.send')}
          .message
            i.rounded-x.fa.fa-check
            p #{__('contact.form.success')}
      // /col-md-9
      .col-md-3
        // Contacts
        .headline
          h2 #{__('contact.info.title')}
        ul.list-unstyled.who.margin-bottom-30
          li
            a(href='#')
              i.fa.fa-home
              | #{__('contact.info.address')}
          li
            a(href='mailto:info@shinesoft.co.jp')
              i.fa.fa-envelope
              | info@shinesoft.co.jp
          li
            a(href='#')
              i.fa.fa-phone
              | 03-6721-5778
          li
            a(href='http://www.shinesoft.co.jp')
              i.fa.fa-globe
              | http://www.shinesoft.co.jp
        // Business Hours
        .headline
          h2 #{__('contact.time.title')}
        ul.list-unstyled
          li
            strong #{__('contact.time.workday')}:
            = ' '
            | 9：00〜18：00
        p #{__('contact.time.rest')}
      // /col-md-3
    // /row
  // /container
  // === End Content Part ===
