extends ../layout

block css
  link(rel="stylesheet", href="/css/home.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/parallax-slider/js/modernizr.js')
  script(type='text/javascript', src='assets/plugins/parallax-slider/js/jquery.cslider.js')
  script(type='text/javascript', src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript', src='assets/js/plugins/parallax-slider.js')
  script(type='text/javascript', src='assets/js/plugins/owl-recent-works.js')
  // JS Customization
  script(src="/js/common.js")
  script(src="/js/home.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block slider
  // === Slider ===
  .slider-inner
    #da-slider.da-slider
      .da-slide
        h2
          i #{__('home').slider.title1[0]}
          br
          i #{__('home').slider.title1[1]}
          br
          i #{__('home').slider.title1[2]}
        p
          i #{__('home').slider.statement1[0]}
          br
          i #{__('home').slider.statement1[1]}
          br
          i #{__('home').slider.statement1[2]}
        .da-img
          img.img-responsive(src='assets/plugins/parallax-slider/img/1.png', alt='')
      .da-slide
        h2
          i #{__('home').slider.title2[0]}
          br
          i #{__('home').slider.title2[1]}
          br
          i #{__('home').slider.title2[2]}
        p
          i #{__('home').slider.statement2[0]}
          br
          i #{__('home').slider.statement2[1]}
        .da-img
          iframe(src='http://player.vimeo.com/video/47911018', width='530', height='300', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      .da-slide
        h2
          i #{__('home').slider.title3[0]}
          br
          i #{__('home').slider.title3[1]}
          br
          i #{__('home').slider.title3[2]}
        p
          i #{__('home').slider.statement3[0]}
          br
          i #{__('home').slider.statement3[1]}
          br
          i #{__('home').slider.statement3[2]}
        .da-img
          img(src='assets/plugins/parallax-slider/img/html5andcss3.png', alt='image01')
      .da-arrows
        span.da-arrows-prev
        span.da-arrows-next
  // /slider
  // === End Slider ===

block breadcrumbs
  // === Purchase Block ===
  .purchase
    .container
      .row
        .col-md-9.animated.fadeInLeft
          span #{__('home').breadcrumb.title}
          p
            | #{__('home').breadcrumb.statement}
        .col-md-3.btn-buy.animated.fadeInRight
          a.btn-u.btn-u-lg(href='/contact')
            i.icon-envelope
            |  #{__('home').breadcrumb.contact}
  // /row
  // End Purchase Block

block content
  // === Content Part ===
  .container.content
    // Recent Works
    .owl-carousel-v1.owl-work-v1.margin-bottom-40
      .headline
        h2.pull-left #{__('home').content.title}
        .owl-navigation
          .customNavigation
            a.owl-btn.prev-v2
              i.fa.fa-angle-left
            a.owl-btn.next-v2
              i.fa.fa-angle-right
        // /navigation
      .owl-recent-works-v1
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img1.jpg', alt='')
            span
              strong #{__('home').content.sub1.title}
              i #{__('home').content.sub1.statement}
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img2.jpg', alt='')
            span
              strong #{__('home').content.sub2.title}
              i #{__('home').content.sub2.statement}
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img3.jpg', alt='')
            span
              strong #{__('home').content.sub3.title}
              i #{__('home').content.sub3.statement}
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img4.jpg', alt='')
            span
              strong #{__('home').content.sub4.title}
              i #{__('home').content.sub4.statement}
    // End Recent Works
  // /container
  // End Content Part
