extends ../layout

block css
  link(rel="stylesheet", href="css/recruitment.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/circles-master/circles.js')
  script(type='text/javascript', src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/circles-master.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript', src='assets/js/plugins/owl-recent-works.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/recruitment.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left #{__('recruitment').breadcrumb.title}
  // /breadcrumbs
  // === End Breadcrumbs ===

block content
  // === Job Description ===
  .job-description
    .container.content
      .row
        // Left Inner
        .col-md-7
          // Tab v1
          .tab-v1.left-inner
            ul.nav.nav-tabs
              li.regular-employee.active
                a(href='#regular_employee', data-toggle='tab') #{__('recruitment').leftInner.regular.title}
              li.contract-employee
                a(href='#contract_employee', data-toggle='tab') #{__('recruitment').leftInner.contract.title}
              li.free-employee
                a(href='#free_employee', data-toggle='tab') #{__('recruitment').leftInner.free.title}
            .tab-content
              #regular_employee.tab-pane.fade.in.active
                .service-block-v6
                  i.icon-custom.rounded-4x.icon-md.icon-bg-green.fa.fa-lightbulb-o
                  .service-desc
                    h2 #{__('recruitment').leftInner.regular.content}
                    p
                      | #{__('recruitment').leftInner.regular.statement[0]}
                    ol
                      li
                        | #{__('recruitment').leftInner.regular.statement[1]}
                      li
                        | #{__('recruitment').leftInner.regular.statement[2]}
                      li
                        | #{__('recruitment').leftInner.regular.statement[3]}
                      li
                        | #{__('recruitment').leftInner.regular.statement[4]}
                    p
                      | #{__('recruitment').leftInner.regular.statement[5]}
                hr
                h2 #{__('recruitment').leftInner.regular.job.title}
                ol
                  li
                    | #{__('recruitment').leftInner.regular.job.content1}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark1[0]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark1[1]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark1[2]}
                  li
                    | #{__('recruitment').leftInner.regular.job.content2}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark2[0]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark2[1]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark2[2]}
                  li
                    | #{__('recruitment').leftInner.regular.job.content3}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark3[0]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark3[1]}
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.regular.job.remark3[2]}
                hr
                h2 #{__('recruitment').leftInner.regular.payAndHoliday.title}
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  #{__('recruitment').leftInner.regular.payAndHoliday.remark[0]}
                  li
                    i.fa.fa-check.color-green
                    |  #{__('recruitment').leftInner.regular.payAndHoliday.remark[1]}
                  li
                    i.fa.fa-check.color-green
                    |  #{__('recruitment').leftInner.regular.payAndHoliday.remark[2]}
                hr
                .row
                  .col-md-7
                    h2 #{__('recruitment').leftInner.regular.application.title}
                    p
                      | #{__('recruitment').leftInner.regular.application.content[0]}
                      br
                      a(href="mailto:{#{__('recruitment').leftInner.regular.application.content[1]}}") #{__('recruitment').leftInner.regular.application.content[1]}
                      br
                      | #{__('recruitment').leftInner.regular.application.content[2]}
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.regular-employee
                        h3
                          | #{__('recruitment').leftInner.regular.application.download.title}
                      .pricing-footer
                        br
                        button.btn-u.btn-u-green.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  #{__('recruitment').leftInner.regular.application.download.button}
              #contract_employee.tab-pane.fade.in
                .service-block-v6
                  i.icon-custom.rounded-2x.icon-lg.icon-bg-orange.fa.fa-bullhorn
                  .service-desc
                    h2 #{__('recruitment').leftInner.contract.content}
                    p
                      | #{__('recruitment').leftInner.contract.statement[0]}
                      br
                      | #{__('recruitment').leftInner.contract.statement[1]}
                      br
                      | #{__('recruitment').leftInner.contract.statement[2]}
                      br
                      | #{__('recruitment').leftInner.contract.statement[3]}
                hr
                h2 #{__('recruitment').leftInner.contract.job.title}
                ol
                  li
                    | #{__('recruitment').leftInner.contract.job.content1}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment').leftInner.contract.job.remark1}
                  li
                    | #{__('recruitment').leftInner.contract.job.content2}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment').leftInner.contract.job.remark2}
                hr
                h2 #{__('recruitment').leftInner.contract.project.title}
                ol
                  li
                    | #{__('recruitment').leftInner.contract.project.content1}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment').leftInner.contract.project.remark1}
                  li
                    | #{__('recruitment').leftInner.contract.project.content2}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment').leftInner.contract.project.remark2}
                  li
                    | #{__('recruitment').leftInner.contract.project.content3}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment').leftInner.contract.project.remark3}
                hr
                h2 #{__('recruitment').leftInner.contract.payAndHoliday.title}
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    | #{__('recruitment').leftInner.contract.payAndHoliday.remark[0]}
                  li
                    i.fa.fa-check.color-green
                    | #{__('recruitment').leftInner.contract.payAndHoliday.remark[1]}
                hr
                .row
                  .col-md-7
                    h2 #{__('recruitment').leftInner.contract.application.title}
                    p
                      | #{__('recruitment').leftInner.contract.application.content[0]}
                      br
                      a(href="mailto:{#{__('recruitment').leftInner.contract.application.content[1]}}") #{__('recruitment').leftInner.contract.application.content[1]}
                      br
                      | #{__('recruitment').leftInner.contract.application.content[2]}
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.contract-employee
                        h3
                          | 契約社員応募
                      .pricing-footer
                        br
                        button.btn-u.btn-u-orange.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  履歴書ダウンロード
              #free_employee.tab-pane.fade.in
                .service-block-v6
                  i.icon-custom.rounded-2x.icon-lg.icon-bg-purple.icon-line.icon-rocket
                  .service-desc
                    h2 #{__('recruitment').leftInner.free.content}
                    p
                      | #{__('recruitment').leftInner.free.statement}
                hr
                h2 #{__('recruitment').leftInner.free.job.title}
                ol
                  li
                    | #{__('recruitment').leftInner.free.job.content1}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.free.job.remark1}
                  li
                    | #{__('recruitment').leftInner.free.job.content2}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.free.job.remark2}
                hr
                h2 #{__('recruitment').leftInner.free.project.title}
                ol
                  li
                    | #{__('recruitment').leftInner.free.project.content1}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.free.project.remark1}
                  li
                    | #{__('recruitment').leftInner.free.project.content2}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.free.project.remark2}
                  li
                    | #{__('recruitment').leftInner.free.project.content3}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  #{__('recruitment').leftInner.free.project.remark3}
                hr
                h2 #{__('recruitment').leftInner.free.payAndHoliday.title}
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  #{__('recruitment').leftInner.free.payAndHoliday.remark[0]}
                  li
                    i.fa.fa-check.color-green
                    |  #{__('recruitment').leftInner.free.payAndHoliday.remark[1]}
                hr
                .row
                  .col-md-7
                    h2 #{__('recruitment').leftInner.free.application.title}
                    p
                      | #{__('recruitment').leftInner.free.application.content[0]}
                      br
                      a(href="mailto:{#{__('recruitment').leftInner.free.application.content[0]}}") #{__('recruitment').leftInner.free.application.content[1]}
                      br
                      | #{__('recruitment').leftInner.free.application.content[2]}
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.free-employee
                        h3
                          | #{__('recruitment').leftInner.free.application.download.title}
                      .pricing-footer
                        br
                        button.btn-u.btn-u-purple.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  #{__('recruitment').leftInner.free.application.download.button}
        // End Left Inner
        // Right Inner
        .col-md-5
          .right-inner
            #testimonials-3.carousel.slide.testimonials.testimonials-v1
              .headline.margin-bottom-60
                h2.pull-left #{__('recruitment').rightInner.voices.title}
              .carousel-inner
                .item.active
                  p.rounded-2x
                    | #{__('recruitment').rightInner.voices.content1.statement}
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/img1.jpg', alt='')
                    span.testimonial-author
                      | #{__('recruitment').rightInner.voices.content1.name}
                      em #{__('recruitment').rightInner.voices.content1.description}
                .item
                  p.rounded-2x
                    | #{__('recruitment').rightInner.voices.content2.statement}
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/img2.jpg', alt='')
                    span.testimonial-author
                      | #{__('recruitment').rightInner.voices.content2.name}
                      em #{__('recruitment').rightInner.voices.content2.description}
                .item
                  p.rounded-2x
                    | #{__('recruitment').rightInner.voices.content3.statement}
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/img3.jpg', alt='')
                    span.testimonial-author
                      | #{__('recruitment').rightInner.voices.content3.name}
                      em #{__('recruitment').rightInner.voices.content3.description}
              .carousel-arrow
                a.left.carousel-control(href='#testimonials-3', data-slide='prev')
                  i.fa.fa-angle-left.rounded
                a.right.carousel-control(href='#testimonials-3', data-slide='next')
                  i.fa.fa-angle-right.rounded
            hr
            .owl-carousel-v1.owl-work-v1.margin-bottom-40
              .headline
                h2.pull-left #{__('recruitment').rightInner.news.title}
                .owl-navigation
                  .customNavigation
                    a.owl-btn.prev-v2
                      i.fa.fa-angle-left
                    a.owl-btn.next-v2
                      i.fa.fa-angle-right

                // /navigation
              .owl-recent-works-v1
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img1.jpg', alt='')
                    span
                      strong #{__('recruitment').rightInner.news.item1.title}
                      i #{__('recruitment').rightInner.news.item1.content}
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img2.jpg', alt='')
                    span
                      strong #{__('recruitment').rightInner.news.item2.title}
                      i #{__('recruitment').rightInner.news.item2.content}
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img3.jpg', alt='')
                    span
                      strong #{__('recruitment').rightInner.news.item3.title}
                      i #{__('recruitment').rightInner.news.item3.content}
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img4.jpg', alt='')
                    span
                      strong #{__('recruitment').rightInner.news.item4.title}
                      i #{__('recruitment').rightInner.news.item4.content}
        // End Right Inner
  // === End Job Description ===
